html {
  font-size: 16px;
  color: white;
}
body {
  background-color: #f5dd90;
  margin: 0 auto;
  display: block;
  font-family: "Original Surfer";
}
header {
  display: flex;
  width: 100%;
  height: auto;
  position: fixed;
  top: -1rem;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: #324376;
  z-index: 3;
}
nav {
  display: flex;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  color: white;
}
.as a {
  text-decoration: none;
  color: white;
  margin-left: 3rem;

  display: inline;
}
.as {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.Cats {
  background-image: url(./images/back.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60rem;
  width: 100%;
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.info {
  background-color: #324376;
  height: 10rem;
  width: 100%;
  text-align: center;
  margin: 0;
}
.portfolio {
  height: auto;
  width: 100%;
  background-color: #586ba4;
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0;
}
.services {
  width: 100%;
  display: flex;

  flex-wrap: wrap;
}
.things-we-do {
  flex-direction: row;
  max-width: 21rem;
  padding: 0;
  margin: 0 auto;
  background-color: #324376;
}
img {
  max-width: 20rem;
}
.team {
  height: auto;
  width: 100%;

  flex-wrap: wrap;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.members {
  margin: 1rem;
  background-color: #324376;

  border-radius: 10px;
}
.members img {
  height: 20rem;
  border-radius: 10px;
}
.top-client {
  height: auto;
  width: 100%;
  background-color: #586ba4;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 0;
}
.top-client img {
  border-radius: 50%;
}
.stella {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  quotes: "«" "»";
}

footer {
  padding: 1rem 0;
  text-align: center;
  background-color: #324376;
  margin: 0 0;
  width: 100%;
  position: relative;
  z-index: 8;
  height: 10rem;
}
#third-pic {
  max-height: 30rem;
}
/*
@media only screen and (max-width: 480px) {
  html {
    font-size: 9px;
  }
  header {
    padding: 1rem 0;
  }
  nav h1 {
    display: none;
  }
  .as {
    width: 100%;
    margin-left: unset;
  }
  nav {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: unset;
  }
  .as a {
    width: 30%;
    text-align: center;
    float: unset;
  }

  .things-we-do {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .services {
    flex-direction: column;
  }
  .team {
    flex-direction: column;
  }
  .stella {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
  header {
    padding: 1rem 0;
  }
  nav h1 {
    display: none;
  }
  .as {
    width: 100%;
    margin-left: unset;
  }
  nav {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: unset;
  }
  .as a {
    width: 30%;
    text-align: center;
    float: unset;
  }

  .things-we-do {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .services {
    flex-direction: column;
  }
  .team {
    flex-direction: column;
  }
  .stella {
    flex-direction: column;
  }
}
*/
